html
  head
    title Cập Nhật Người Dùng - FY Shop
    link(rel="stylesheet", href="/public/update-user.css")
    link(rel="stylesheet", href="/public/fontawesome-free-6.6.0-web/css/all.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap", rel="stylesheet")
  body
    .update-bg
      .update-card
        .update-header
          i.fa-solid.fa-user-pen.update-icon
          h2 Cập nhật thông tin người dùng
        form.update-form(action=`/update-user/${user._id}`, method="post")
          .input-group
            i.fa-solid.fa-user
            input(type="text", name="fullname", value=user.fullname, placeholder="Họ tên", required=true)
          .input-group
            i.fa-solid.fa-user-shield
            input(type="text", name="role", value=user.role, placeholder="Quyền", required=true)
          button.update-btn(type="submit")
            i.fa-solid.fa-save
            | Lưu thay đổi
        a.back-link(href="/users")
          i.fa-solid.fa-arrow-left
          | Quay lại danh sách